@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scroll-behavior: smooth;
}

.diagonal-dark-to-light{
  height: 100px;
  background-color: #0F172A;
  background-image: linear-gradient(to top left, #1E293B 50%, #0F172A 50%);
}

.diagonal-light-to-dark{
  height: 100px;
  background-color: #0F172A;
  background-image: linear-gradient(to top left, #0F172A 50%, #1E293B 50%);
}

